@model CategoryModel

@{
    ViewBag.Title = "Edit Category";
}

<h2 class="text-center text-light">@ViewBag.Title</h2>
<hr />

<partial name="_CategoryPartial" model="@Model" />

@section Scripts{
        <script>
            var subCategoryIndex = 0;
            function AddMoreSubCategory() {
                //var newInputs = $("Name <input type='text' name='' id=''/> Quantity <input type='text' name='' id=''/>");
                $("#DescriptionsContainer").append("<div class='mb-3 text-light'>Title <input type='text' name='SubCategories[" + subCategoryIndex + "].Name'/></div>");
                subCategoryIndex++;
            }
        </script>
        <partial name="_ValidationScriptsPartial" />
}
