#gallery img {
    width: 30%;
    position: relative;
    z-index: 1;
}

    #gallery img:nth-child(2) {
        transform: scale(1.5);
        z-index: 2;
    }

.section {
    background-color: white;
    /*padding: var(--pad-section);*/
    margin-bottom: 2rem;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}